{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Mind Map</title>
    <script src="{% static 'jQuery_Connections_files/jquery-latest.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script>
      function showInputBox() {
        document.getElementById("inputBox").style.display = "block";
      }

    $(function() {
      $('#createForm').submit(function(event) {
        event.preventDefault();
        var mapName = $('#mapName').val();
        var url = '/api/create/';
        var data = JSON.stringify({'mapName': mapName});

        $.ajax({
          url: url,
          type: 'POST',
          data: data,
          contentType: 'application/json',
          success: function(response) {
            var mapNum = response.mapNum;
            window.location.href = '/map/' + mapNum;
          }
        });
      });
    });
    </script>

<h1>Concept Maps</h1>
</head>
  <body>

  <ul>
    {% for map in maps %}
      <li><a href="/map/{{ map.id }}/">{{ map.mapname }}</a> </li>
    {% endfor %}
  </ul>
  <button onclick="showInputBox()">New Map</button>
    <div id="inputBox" style="display:none;">
      <form id="createForm">
        <label for="mapName">Map Name:</label>
        <input type="text" id="mapName" name="mapName">
        <input type="submit" value="Create Map">
      </form>
    </div>



</body>
</html>