{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Mind Map</title>
    <script src="{% static 'jQuery_Connections_files/jquery-latest.min.js' %}"></script>
    <script src="{% static 'jQuery_Connections_files/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery-timing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery.ui.touch-punch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery.connections.js' %}"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script type="text/JavaScript">
    var ID = 1000000;
$(document).ready(function() {

    $(".draggable").draggable();
    {% for relation in relations %}
        $("#draggable{{ relation.parent }}, #draggable{{ relation.child }}").connections({'class': 'fast'});
        var record = $('<div>', {
            id: 'recordConnect',
            style: 'width: 0; height: 0;',
            from: {{ relation.parent }},
            to: {{ relation.child }}
        });
        record.appendTo('body');
    {% endfor %}
    $.repeat().add('connection').each($).connections('update').wait(10);


    $(document).on('dblclick', '.draggable', function () {
        const input = $('<input>', {
            type: 'text',
            val: $(this).text().trim()
        });

        $(this).html(input);
        input.focus();
    });

    $(document).on('blur', 'input', function () {
        const div = $(this).parent();
        div.html('<p>' + $(this).val() + '</p>');
    });


    // Handle right click events on each div
    $(document).on('contextmenu', '[id^="draggable"]', (function (event) {
        event.preventDefault();
        var options = '<button class="delete">Delete</button>' +
            '<button class="create">Create</button>';
        $(this).append(options);
        // Handle create button click
        $(this).find('.create').click(function () {
            ID++;
            const newDiv = $('<div>', {
                id: 'draggable' + ID,
                class: 'draggable ui-widget-content ui-draggable',
                style: 'position: absolute;',
                html: '<p>Drag me around</p>'
            });
            newDiv.appendTo('body');
            newDiv.draggable();
            $(this).closest('.draggable').connections({to: newDiv, 'class': 'fast'});
            var record = $('<div>', {
                id: 'recordConnect',
                style: 'width: 0; height: 0;',
                from: $(this).closest('.draggable').attr('id').match(/\d+/),
                to: ID
            });
            record.appendTo('body');
            $.repeat().add('connection').each($).connections('update').wait(10);
        });
        $(this).find('.delete').click(function () {
            $(this).closest('.draggable').remove();
            $(this).closest('.draggable').connections('remove');
        });
    }));


    $(document).on("click", (function (event) {
        if (!$(event.target).closest('.draggable').length) {
            $('.draggable button').remove();
        }
    }));


    $("#createDivButton").click(function() {
        ID++;
        const newDiv = $('<div>', {
            id: 'draggable' + ID,
            class: 'draggable ui-widget-content ui-draggable',
            style: 'position: absolute;',
            html: '<p>Drag me around</p>'
        });
        newDiv.appendTo('body');
        newDiv.draggable();
    });


    $("#saveButton").click(function() {
        var nodes = [];
        var records = [];
        $('.draggable').each(function() {
            nodes.push({
                id: $(this).attr('id').match(/\d+/)[0],
                positionx: $(this).position().left,
                positiony: $(this).position().top,
                content: $(this).text().trim()
            })
        });
        $('#recordConnect').each(function() {
            records.push({
                from: $(this).attr("from"),
                to: $(this).attr("to")
            })
        });

        // Send a post request with the information
        $.ajax({
            type: "POST",
            url: "/api/save/",
            data: `{
                "nodes": ${JSON.stringify(nodes)},
                "relation": ${JSON.stringify(records)}
            }`,
            success: function (response) {
                console.log("data saved");
            }
        });
    });

});
    </script>


  </head>
  <body>
    <button id="createDivButton">new root</button>
    <button id="saveButton">save</button>
    <br style="clear: both;">
    {% for node in nodes %}
    <div id="draggable{{ node.id }}" class="draggable ui-widget-content ui-draggable"
         style="position: absolute; left: {{ node.positionx }}px; top: {{ node.positiony }}px;">
      <p>{{ node.content }}</p>
    </div>
    {% endfor %}


</body>
</html>