{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Mind Map</title>
    <script src="{% static 'jQuery_Connections_files/jquery-latest.min.js' %}"></script>
    <script src="{% static 'jQuery_Connections_files/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery-timing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery.ui.touch-punch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery.connections.js' %}"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script type="text/JavaScript">
$(document).ready(function() {
  $( ".draggable" ).draggable();
  //$(".draggable").connections({'class': 'fast'});
  //$("#draggable1, #draggable2").connections({'class': 'fast'});
    {% for relation in relations %}
        $("#draggable{{ relation.parent }}, #draggable{{ relation.child }}").connections({'class': 'fast'});
    {% endfor %}
  $.repeat().add('connection').each($).connections('update').wait(10);
  $(document).on('dblclick', '.draggable', function() {
      const input = $('<input>', {
          type: 'text',
          val: $(this).text().trim()
      });

      $(this).html(input);
    input.focus();
  });

  $(document).on('blur', 'input', function() {
      const div = $(this).parent();
      div.html('<p>' + $(this).val() + '</p>');
  });


  {#$('.draggable').on("contextmenu", function() {#}
  {#    alert($(this).text());#}
  {# });#}

  // Handle right click events on each div
  $(document).on('contextmenu','[id^="draggable"]', (function(event) {
    event.preventDefault();
    var options = '<button class="delete">Delete</button>' +
                  '<button class="create">Create</button>';
    $(this).append(options);

    // Handle create button click
    $(this).find('.create').click(function() {
        const newDiv = $('<div>', {
            id: 'draggable' + Math.floor(Math.random() * 100),
            class: 'draggable ui-widget-content ui-draggable',
            style: 'position: absolute;',
            html: '<p>Drag me around</p>'
        });
        newDiv.appendTo('body');
    newDiv.draggable();
    {#$('.draggable').connections({'class': 'fast'});#}
    $.repeat().add('connection').each($).connections('update').wait(10);
    });

    $(this).find('.delete').click(function() {
      $(this).closest('.draggable').remove();
    });
  }));

  $(document).on("click", (function(event) {
    if (!$(event.target).closest('.draggable').length) {
      $('.draggable button').remove();
    }
  }));
});


    </script>
  </head>
  <body>
    <button onclick="const newDiv = $('<div>', {
      id: 'draggable' + Math.floor(Math.random() * 100),
      class: 'draggable ui-widget-content ui-draggable',
      style: 'position: relative;',
      html: '<p>double click to edit</p>'
    });
    newDiv.appendTo('body');
    newDiv.draggable();
    {#$('.draggable').connections({'class': 'fast'});#}
    $.repeat().add('connection').each($).connections('update').wait(10);">new root</button>

    <br style="clear: both;">
    {% for node in nodes %}
    <div id="draggable{{ node.id }}" class="draggable ui-widget-content ui-draggable"
         style="position: absolute; left: {{ node.positionx }}px; top: {{ node.positiony }}px;">
      <p>{{ node.content }}</p>
    </div>
    {% endfor %}


</body>
</html>