{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ mapname }}</title>
    <script src="{% static 'jQuery_Connections_files/jquery-latest.min.js' %}"></script>
    <script src="{% static 'jQuery_Connections_files/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery-timing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery.ui.touch-punch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jQuery_Connections_files/jquery.connections.js' %}"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script type="text/JavaScript">
    var ID = 0;
$(document).ready(function() {

    {% for node in nodes %}
    // Create a new element that isn't connected to any element
    ID = Math.max(ID, {{ node.num }})
    var newDiv = $('<div>', {
        id: 'draggable' + {{ node.num }},
        class: 'draggable ui-widget-content ui-draggable',
        style: 'position: absolute; line-height: 20px; padding: 5px; left: {{ node.positionx }}px; top: {{ node.positiony }}px;',
        html: '<p>{{ node.content }}</p>'
    });
    newDiv.appendTo('body');
    newDiv.draggable();
    {% endfor %}


    $(".draggable").draggable();
    {% for relation in relations %}
        $("#draggable{{ relation.parent }}, #draggable{{ relation.child }}").connections({'class': 'fast'});
        var record = $('<div>', {
            id: 'recordConnect',
            style: 'width: 0; height: 0;',
            from: {{ relation.parent }},
            to: {{ relation.child }}
        });
        record.appendTo('body');
    {% endfor %}
    $.repeat().add('connection').each($).connections('update').wait(10);


    $(document).on('dblclick', '.draggable', function () {
        // double click the div to input text in node
        const input = $('<input>', {
            type: 'text',
            val: $(this).text().trim()
        });

        $(this).html(input);
        input.focus();
    });

    $(document).on('blur', 'input', function () {
        const div = $(this).parent();
        div.html('<p>' + $(this).val() + '</p>');
    });


    // Handle right click events on each div
    $(document).on('contextmenu', '[id^="draggable"]', (function (event) {
        event.preventDefault();
        var options = '<button class="delete">Delete</button>' +
            '<button class="create">Create</button>';
        $(this).append(options);
        // Handle create button click
        $(this).find('.create').click(function () {
            // Create a new element that is connected to current element
            ID++;
            const newDiv = $('<div>', {
                id: 'draggable' + ID,
                class: 'draggable ui-widget-content ui-draggable',
                style: 'position: absolute; line-height: 20px; padding: 5px;',
                html: '<p>Drag me around</p>'
            });
            newDiv.appendTo('body');
            newDiv.draggable();
            $(this).closest('.draggable').connections({to: newDiv, 'class': 'fast'});
            var record = $('<div>', {
                id: 'recordConnect',
                style: 'width: 0; height: 0;',
                from: $(this).closest('.draggable').attr('id').match(/\d+/),
                to: ID
            });
            record.appendTo('body');
            $.repeat().add('connection').each($).connections('update').wait(10);
        });
        $(this).find('.delete').click(function () {
            // delete option on one node
                var temp = $(this).closest('.draggable');
            $('div[id="recordConnect"]').filter(function () {
                console.log($(this).attr('from'), temp.attr('id').match(/\d+/)[0]);
                return $(this).attr('from') === temp.attr('id').match(/\d+/)[0]
                    || $(this).attr('to') === temp.attr('id').match(/\d+/)[0];
            }).remove();
            $(this).closest('.draggable').remove();
            $(this).closest('.draggable').connections('remove');
        });
    }));


    $(document).on("click", (function (event) {
        // delete options when click elewhere on the screen
        if (!$(event.target).closest('.draggable').length) {
            $('.draggable button').remove();
        }
    }));


    $("#createDivButton").click(function() {
        // Create a new element that isn't connected to any element
        ID++;
        const newDiv = $('<div>', {
            id: 'draggable' + ID,
            class: 'draggable ui-widget-content ui-draggable',
            style: 'position: absolute; line-height: 20px; padding: 5px;',
            html: '<p>Drag me around</p>'
        });
        newDiv.appendTo('body');
        newDiv.draggable();
    });


    $("#clearButton").click(function() {
        // clear all elements
        $("div[id=recordConnect]").remove();
        $('.draggable').remove();
        $('.draggable').connections('remove');
    });


    $("#saveButton").click(function() {
        // save the concept map but sending a post request
        // to /api/save with all data in json
        var nodes = [];
        var records = [];
        var mapid = {{ mapid }};
        $('.draggable').each(function() {
            nodes.push({
                id: $(this).attr('id').match(/\d+/)[0],
                positionx: $(this).position().left,
                positiony: $(this).position().top,
                content: $(this).text().trim()
            })
        });
        $('div[id="recordConnect"]').each(function() {
            records.push({
                from: $(this).attr("from"),
                to: $(this).attr("to")
            })
        });

        // Send a post request with the information
        $.ajax({
            type: "POST",
            url: "/api/save/{{ mapid }}/",
            data: `{
                "nodes": ${JSON.stringify(nodes)},
                "relation": ${JSON.stringify(records)}
            }`,
            success: function (response) {
                console.log("data saved");
            }
        });
    });


    $("#resetButton").click(function() {
        // first delete all elements and hardcoded the climate change mind map
        $("div[id=recordConnect]").remove();
        $('.draggable').remove();
        $('.draggable').connections('remove');

        var elements = [
            {
                id: "draggable1",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 640px; top: 322px;",
                text: "Climate Change"
            },
            {
                id: "draggable2",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 881px; top: 322px;",
                text: "Causes"
            },
            {
                id: "draggable3",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 674px; top: 166px;",
                text: "Evidence"
            },
            {
                id: "draggable4",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 673px; top: 486px;",
                text: "Solutions"
            },
            {
                id: "draggable5",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 482px; top: 487px;",
                text: "further Research"
            },
            {
                id: "draggable6",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 610px; top: 581px;",
                text: "Change human behavior"
            },
            {
                id: "draggable7",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 592px; top: 668px;",
                text: "Reduce burning of fossil fuels"
            },
            {
                id: "draggable8",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 859px; top: 579px;",
                text: "Explore renewable energy sources"
            },
            {
                id: "draggable9",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 1012px; top: 255px;",
                text: "human activities"
            },
            {
                id: "draggable10",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 973px; top: 397px;",
                text: "Natural Environment changes"
            },
            {
                id: "draggable11",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 810px; top: 104px;",
                text: "Warming Oceans"
            },
            {
                id: "draggable12",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 606px; top: 30px;",
                text: "increase in extreme weather"
            },
            {
                id: "draggable13",
                class: "draggable ui-widget-content ui-draggable",
                style: "line-height: 20px; padding: 5px; position: absolute; left: 456px; top: 105px;",
                text: "melting glaciers"
            },
        ];
        elements.forEach(function(element) {
            var newDiv = $('<div>', {
                id: element.id,
                class: element.class,
                style: element.style,
                html: element.text,
            });
            newDiv.appendTo('body');
            newDiv.draggable();
        });


        var connections = [
            {from: "1", to: "2"},
            {from: "1", to: "3"},
            {from: "1", to: "4"},
            {from: "4", to: "5"},
            {from: "4", to: "6"},
            {from: "6", to: "7"},
            {from: "6", to: "8"},
            {from: "2", to: "9"},
            {from: "2", to: "10"},
            {from: "3", to: "11"},
            {from: "3", to: "12"},
            {from: "3", to: "13"},
        ];

        connections.forEach(function(connection) {
            var newDiv = $("<div>", {
                id: "recordConnect",
                style: "width: 0; height: 0;",
                from: connection.from,
                to: connection.to
            });
            newDiv.appendTo('body');
            newDiv.draggable();
        });

        connections.forEach(function(connection) {
            $(`#draggable${connection.to}, #draggable${connection.from}`).connections({'class': 'fast'});
        });
    });

    $("#indexButton").click(function () {
        window.location.href = "/";
    });
});
    </script>


  </head>
  <body>
    <button id="createDivButton">new root</button>
    <button id="saveButton">save</button>
    <button id="clearButton">Clear All</button>
    <button id="resetButton">Template</button>
    <button id="indexButton">Main Page</button>
    <br style="clear: both;">



</body>
</html>